*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  // font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-family: 'Recursive', sans-serif;
  color:rgb(129, 123, 123);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 35%;
  float: left;
  background-image: url('./images/overlay.png'), url('./images/bg.jpg');
  padding-top: 50px;
  padding-right: 80px;
}
.header__descr {
  font-size: 25px;
  text-align: right;
 
  &-name{
    color:rgb(236, 232, 232);
  }
  &-web {
    color:rgb(170, 168, 168);
  }
  &-photo {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 40px;
  }
}

.header__contacts {
  // margin: auto;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  img {
    filter: invert(1) opacity(0.6);
    padding-left: 7px;
    &:hover {
      filter: invert(0.5) opacity(0.6);
    }
  }
}

section {
  background-color: rgba(248, 244, 244, 0.952);
  height: 100vh;
  width: 65%;
  float: right;
  padding-top: 130px;
  padding-left: 50px;
  overflow-y: auto;
}
.skills {
  margin-bottom: 60px;
  h2 {
    padding-bottom: 50px;
    font-size: 35px;
  }
  ul li {
    padding-bottom: 8px;
    font-size: 25px;
  }
}
.works {
  h2 {
    margin-bottom: 50px;
    font-size: 35px;
  }
}
.line {
  height: 2px;
  background-color: rgb(214, 206, 206);
  width: 850px;
  margin-bottom: 60px;
}
.work__items {
  display: flex;
  margin-right: 40px;
  article {
    margin-right: 40px;
    a:hover .work__items-button {
      display: block;
    }
    .parent__block{
      position: relative;
      width: 400px;
      height: 250px;
      
    }
    h3 {
      font-size: 23px;
      margin-top: 40px;
    }
  }
  p {
    font-size: 17px;
    margin-bottom: 100px;
  }
  &-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: invert(0.2);
  }
  &-button {
    display: none;
    position: absolute;
    z-index: 3;
    top: 35%;
    left: 35%;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: transparent;
    border: solid 5px rgba(255, 255, 255, 0.726);
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.788);
  }
}

@media (max-width: 1400px){
  header{
    padding-right: 60px;
  }
  .work__items{
    flex-direction: column;
    article {
      position: relative;
    }
  }
  .line{
    width: 700px;
  }
}
@media (max-width: 1200px){
  header{
    padding-right: 50px;
  }
  .line{
    width: 500px;
  }
}

@media (max-width: 920px){
  header{
    padding-right: 50px;
  }
  .header__descr{
    font-size: 20px;
  }
  .header__contacts{
    img{
      width: 40px;
    }
  }
  .line{
    width: 400px;
  }
}
@media (max-width: 790px){
  header{
    padding-right: 20px;
  }
  .header__descr{
    font-size: 15px;
    &-photo {
      height: 100px;
      width: 100px;
    }
  }
  
  .work__items{
    article{
      .parent__block{
        width: 320px;
        height: 200px;
      }
      h3{
        margin-top: 25px;
      }
    }

    &-button {
      top: 40%;
      left: 40%;
      padding: 2px 10px;
      font-size: 13px;
      border: solid 3px rgba(255, 255, 255, 0.726);
    }
  }
  .line{
    width: 280px;
  }
}
@media (max-width: 620px){
  body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  header{
    width: 100%;
    padding-right: 80px;
  }
  .header__descr{
    font-size: 20px;
    &-photo {
      height: 120px;
      width: 120px;
    }
  }
  section{
    width: 100%;
    height: 100%;
    overflow-y: unset;
    padding-top: 90px;
    .skills{
      h2{
        font-size: 25px;
        padding-bottom: 25px;
      }
      ul li{
        font-size: 15px;
      }
    }
    .works{
      h2{
        font-size: 25px;
        margin-bottom: 30px;
      }
    }
    .work__items{
      h3{
        font-size: 19px;
      }
      p{
        font-size: 13px;
        margin-bottom: 50px;
      }
    }
  }
  .line {
    width: 430px;
  }
}
@media (max-width: 500px){
  section{
    width: 100%;
    height: 100%;
    overflow-y: unset;
  }
  .line {
    width: 350px;
  }
}
@media (max-width: 430px){
  section{
    width: 100%;
    height: 100%;
    overflow-y: unset;
  }
  .work__items{
    .parent__block{
      margin-bottom: 25px;
    }
    p {
      font-size: 15px;
      margin-bottom: 50px;
    }
  }
  .line {
    width: 250px;
  }
}
@media (max-width: 410px){
  header{
    padding-right: 40px;;
  }
  section{
    width: 100%;
    height: 100%;
    overflow-y: unset;
    padding-left: 85px;
  }
  .work__items{
    article{
      .parent__block{
        width: 200px;
        height: 120px;
      }
    }
    
    &-button {
      top: 31%;
      left: 31%;
    }
  }
  .line{
    width: 200px;
  }
}